In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

data=pd.read_csv('homeprices.csv')
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [2]:
data.bedrooms=data.bedrooms.fillna(data.bedrooms.median())
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
reg=linear_model.LinearRegression()
reg.fit(data[['area', 'bedrooms', 'age']], data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
reg.predict([[5000,4,50]])

array([713604.83645619])

# **Save a model using pickle**

In [8]:
import pickle

In [12]:
with open('model_pickle','wb') as pk:
  pickle.dump(reg,pk)

In [15]:
with open('model_pickle','rb') as f:
  model=pickle.load(f)

In [17]:
model.predict([[7000, 8, 60]])

array([998968.06156588])

# **Save a model using joblib**
# Joblib is better when a model contains huge number of numpy arrays **

In [20]:
from sklearn.externals import joblib
joblib.dump(reg, 'modelJoblib.pkl')

['modelJoblib.pkl']

In [21]:
loadJoblib=joblib.load('modelJoblib.pkl')
loadJoblib.predict([[5000,4,50]])

array([713604.83645619])